{% extends "base.html" %}

{% block content %}
  <h1>Cart</h1>

  
<ul>
 {% for item in cart %}
        <li><p>{{ item.name }}</p><p class="num">${{ item.total_price }}</p>
          <form  method='POST' action="{% url "cart:update" %}">{% csrf_token %}
              {{ item.update_quantity_form.id }}
              {{ item.update_quantity_form.quantity }} 
              {{ item.update_quantity_form.update }}
            <button type = 'submit' class = 'btn btn-default'>Save</button>
          </form>        
        </li>
{% endfor %}

<p class="num">${{ cart.get_total_price }}</p>
</ul>
  

{% endblock %}