{% url "account:home" as home %}
{% url "account:edit" as edit %}
{% url "account:order_list" as order_list %}

<div id="sidebar">
  <ul>
  <li {% if request.path == home %}class="selected"{% endif%}><a href="{% url "account:home" %}">Home</a></li>
  {% if user.is_authenticated %}
  <li {% if request.path == edit %}class="selected"{% endif%}><a href="{% url "account:edit" %}">Edit</a></li>
  <li {% if request.path == order_list %}class="selected"{% endif%}><a href="{% url "account:order_list" %}">Orders</a></li>
  {% endif %}
</ul>
</div>