{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ film.title }}</h1>

  <p><strong>Name:</strong> <a href="">{{ film.Name }}</a></p> 
  <p><strong>Amount:</strong> {{ film.Amount }}</p>
  <p><strong>Price:</strong> {{ film.Price }}</p> 
  <p><strong>Descr:</strong> {{ film.Descr }}</p>  
  
<form  method='POST' action="{% url "buy_form_url" %}">{% csrf_token %}
		    <input type="hidden" name ="id" value={{ film.id }}>
        {{form}}
        <button type = 'submit' class = 'btn btn-default'>Submit</button>
</form>  
{% endblock %}