{% extends "base.html" %}

{% block content %}

  <p><strong>Name:</strong> <a href="">{{ product.Name }}</a></p> 
  <p><strong>Amount:</strong> {{ product.Amount }}</p>
  <p><strong>Price:</strong> {{ product.Price }}</p> 
  <p><strong>Descr:</strong> {{ product.id }}</p>  
  
<form  method='POST' action="{% url "cart:update" %}">{% csrf_token %}
        {{form}}
        <button type = 'submit' class = 'btn btn-default'>Submit</button>
</form>

<h1>New comment</h1>
    <form method="POST" action="{% url "product-detail" pk=product.pk %}"class="post-form">{% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% for comment in product.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

{% endblock %}