{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> Comment Summary </h1>
{% endblock %}

{% block result_list %}
<div class="results">
    <table>
        
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Product</a>
          </div>
        </th>
          <th>
          <div class="text">
            <a href="#">Amount</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Average</a>
          </div>
        </th>
       
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="">
        <td> {{ row.product__Name }} </td>
        <td> {{ row.count }} </td>
        <td> {{ row.total }} </td>
        
      </tr>
      {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block pagination %}{% endblock %}