{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> Orders Summary </h1>
{% endblock %}

{% block result_list %}
<div class="results">
    <table>
        
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Name</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Total Sales</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Sales</strong>
            </a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>Total Expenses</strong>
            </a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Expenses</strong>
            </a>
          </div>
        </th>
         <th>
          <div class="text">
            <a href="#">
              <strong> Total Surplus</strong>
            </a>
          </div>
        </th>
         <th>
          <div class="text">
            <a href="#">
              <strong>% Of Total Surplus</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="">
        <td> {{ row.product__Name }} </td>
        <td> {{ row.total }} </td>
        <td> {{ row.total_sales | default:0 }}$ </td>
        <td>
          <strong>
          {% widthratio row.total_sales summary_total.total_sales 100 %}%
          </strong>
        </td>
        <td> {{ row.expenses | default:0 }}$ </td>
        <td>
          <strong>
          {% widthratio row.expenses summary_total.expenses 100 %}%
          </strong>
        </td>
        <td>{{row.surplus}}$</td>
        <td>
          <strong>
          {% widthratio row.surplus summary_total.surplus 100 %}%
          </strong>
        </td>
      </tr>
      {% endfor %}
        <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> Total </td>
            <td> {{ summary_total.total  }} </td>
            <td> {{ summary_total.total_sales | default:0 }}$ </td>
            <td> 100% </td>
            <td> {{ summary_total.expenses | default:0 }}$ </td>
            <td> 100% </td>
            <td> {{ summary_total.surplus | default:0 }}$ </td>
            <td> 100% </td>
        </tr>
    </tbody>
    
  </table>
<div class="results">
    
    <h2> Sales over time </h2>
    <style type="text/css">
    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 160px;
      padding-top: 60px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }
    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }
    
    </style>
    <div class="results">
        <div class="bar-chart">
        {% for x in summary_over_time %}
            <div class="bar" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{x.total | default:0  }}<br>
                    {{x.period | date:"d/m/Y"}}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}

{% block pagination %}{% endblock %}